{% extends "base_generic.html" %}

{% block content %}



{% if next %}
  {% if user.is_authenticated %}
  {% else %}
  {% endif %}
{% endif %}
<div class="settings-container position-relative">
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items form-items-container">
                        <div class="form-items-heading">
                            <h3>Авторизация</h3>
                            <p>Введите данные:</p>
                        </div>
                        <form action="{% url 'login' %}" method="post" class="requires-validation">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Электронная почта">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Пароль">
                            </div>
                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="cta-btn btn-primary">Войти</button>
                                <a href="{% url 'invite' %}" class="cta-btn btn-primary" style="float:right">Зарегистрироваться</a>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                        {% if form.errors %}<p class="text-center login-error mb-0">Неверный логин или пароль</p>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}