{% extends "base_generic.html" %}

{% block content %}
<div class="content">
  <div class="container">
    <p class="personal-ballance row justify-content-between text-center">
        <div class="text-center"><h1>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1></div>
        <div class="text-center">
            <p style="text-align:justify; text-indent: 2em;">Настоящее пользовательское соглашение (далее – Соглашение) заключается между Вами, физическим или юридическим лицом (далее – Пользователь) и ProSelf Group, являющимся правообладателем программного обеспечения ProSelf Robot, посредством которого осуществляется автоматическая торговля на валютном рынке Forex (далее - Правообладатель), на нижеследующих условиях:
        </p>
<p style="text-align:justify; text-indent: 2em;">1. Условия Соглашения относятся к использованию сопровождаемого Соглашением использования программного обеспечения ProSelf Robot (сокращенное наименование – PS Robot), далее – ПО PS Robot, которое создано для увеличения вероятности осуществления прибыльной автоматической торговли на валютном рынке Forex через брокера Roboforex.
</p>
<p style="text-align:justify; text-indent: 2em;">2. Настоящее Соглашение является публичной офертой, которая может быть акцептована совершением действий, свидетельствующих о согласии Пользователя с договором (приобретение и установка ПО PS Robot, платеж Правообладателю).
</p>
<p style="text-align:justify; text-indent: 2em;">3. Соглашение применяется ко всем Пользователям и не может быть изменено для отдельной группы или отдельных Пользователей. Публичный договор не требует оформления на бумаге и его последующего подписания сторонами, обладает юридической силой в силу совершения сторонами определенных действий указывающих на их волеизъявление вступить в договорные отношения.
</p>
<p style="text-align:justify; text-indent: 2em;">4. Пользователь обязуется ознакомиться с условиями настоящего Соглашения до установки и использования ПО PS Robot. В случае, если Пользователь не согласен с условиями настоящего Соглашения, то Пользователь не имеет прав на использование ПО PS Robot и не должен устанавливать, копировать, запускать либо иным образом взаимодействовать с ПО PS Robot.
</p>
<p style="text-align:justify; text-indent: 2em;">5. Пользователь принимает условия Соглашения в полном объеме с момента начала использования ПО PS Robot. Пользователь понимает, что ему известно о том, что ПО PS Robot предназначено для использования юридическими лицами, а также лицами, достигшими возраста совершеннолетия, в связи с чем, начиная использование ПО PS Robot, Пользователь подтверждает следующее:
</p>
<p style="text-align:justify; text-indent: 2em;">1) достижение возраста совершеннолетия в соответствии с законодательством страны, гражданином которой он является;
</p>
<p style="text-align:justify; text-indent: 2em;">2) в случае если Пользователь является юридическим лицом, лицо, заключающее Соглашение от имени такого Пользователя, подтверждает наличие полномочий на представление интересов Пользователя и заключение сделок от его имени.
</p>
<p style="text-align:justify; text-indent: 2em;">6. В случае, если Пользователь правомерно использует ПО PS Robot, а также принял в полном объеме и исполняет условия настоящего Соглашения, Пользователю на территории всего мира предоставляется неисключительная лицензия (неисключительные права) на использование ПО PS Robot следующим способом:
</p>
<p style="text-align:justify; text-indent: 2em;">Пользователь получает файл PS Robot и лицензию на его использование. Лицензия привязывается к конкретному номеру счета, принадлежащего Пользователю.
</p>
<p style="text-align:justify; text-indent: 2em;">7. Пользователь осознает и принимает то обстоятельство, что автоматическая торговля на валютном рынке Forex через брокера Roboforex, носит высокорисковый характер, в связи с чем Правообладатель не может гарантировать Пользователю обязательную прибыль от использования ПО PS Robot даже при соблюдении всех рекомендаций Правообладателя.
</p>
<p style="text-align:justify; text-indent: 2em;">Пользователь осознает и принимает то обстоятельство, что поскольку автоматическая торговля на валютном рынке Forex через брокера Roboforex является высокорискованным видом инвестирования, то Правообладатель не может исключать вероятности утраты Пользователем всей суммы депозита находящегося на его счете, в связи с чем Правообладатель не может нести ответственность перед Пользователем за частичную или полную утрату депозита находящегося на счете Пользователя при использовании ПО PS Robot.
</p>
<p style="text-align:justify; text-indent: 2em;">В связи с принципиальной невозможностью исключения вероятности частичной или полной утраты депозита находящегося на счете Пользователя, Правообладатель категорически не рекомендует Пользователю рассматривать ПО PS Robot как единственный и безусловный способ заработка и использовать при формировании депозита счета заемные (кредитные) и (или) последние имеющиеся у Пользователя денежные средства.
</p>
<p style="text-align:justify; text-indent: 2em;">8. Принятие условий настоящего Соглашения также означает принятие и согласие Пользователя на автоматизированную, а также без использования средств автоматизации, обработку его персональных данных, а именно на сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных. Перечень персональных данных Пользователя, на обработку которых он дает согласие, включает в себя, в том числе, но не исключительно, следующие данные: фамилия, имя, отчество; номер телефона, любых иных мессенджеров, адрес электронной почты;
</p>
<p style="text-align:justify; text-indent: 2em;">9. В течение срока действия неисключительной лицензии на использование ПО PS Robot, которая носит бессрочный характер, Пользователю могут предоставляться обновления программных модулей ПО PS Robot в рамках уже установленной версии ПО PS Robot. Все обновления ПО PS Robot являются его неотъемлемой частью и используются исключительно вместе с ПО PS Robot на условиях настоящего Соглашения. В случае предоставления Правообладателем технической поддержки в отношении ПО PS Robot, Пользователю предоставляет право на обращение в службу технической поддержки Правообладателя.
</p>
<p style="text-align:justify; text-indent: 2em;">10. Предоставление ПО PS Robot третьим лицам, а также передача прав на использование ПО PS Robot третьим лицам - запрещены. Любые действия, совершенные с ПО PS Robot, при помощи ПО PS Robot, либо относящиеся к ПО PS Robot, считаются действиями совершенными самим Пользователем, либо лицами, имеющими полномочия на совершение действий от имени Пользователя. Пользователю не разрешается осуществлять распространение ПО PS Robot в любой форме и любым способом. ПО PS Robot предназначено для использования тем Пользователем, на которого ПО PS Robot было зарегистрировано на условиях настоящего Соглашения.
</p>
<p style="text-align:justify; text-indent: 2em;">11. Пользователю не разрешается без письменного согласия Правообладателя изменять, декомпилировать, дизассемблировать, дешифровать и производить иные действия с объектным кодом ПО PS Robot, в том числе имеющие целью получение информации о реализации алгоритмов и принципов, используемых в ПО PS Robot. Пользователю запрещается каким-либо образом модифицировать механизм защиты ПО PS Robot.
</p>
<p style="text-align:justify; text-indent: 2em;">12. Пользователь согласен и понимает, что Правообладатель не несет ответственности за возможные убытки или ущерб, а также последствия иного характера, которые возникают или могут возникнуть при установке и использовании ПО PS Robot, включая, но не ограничиваясь: 1) в процессе установки, обновления, поддержки и использования ПО PS Robot (в том числе проблемы совместимости с другими программами для ЭВМ или их компонентами, драйверами, аппаратной частью ЭВМ и прочее); 2) из-за неверного толкования сопроводительной документации к ПО PS Robot; 3) в случае несоответствия результатов использования ПО PS Robot ожиданиям; 4) в случае невозможности предоставления обновлений ПО PS Robot, либо невозможности получения таких обновлений; 5) в случае увеличения платы за услуги связи и трафик; 6) в случае предоставления Пользователем недостоверных данных (в том числе недостоверных контактных данных).
</p>
<p style="text-align:justify; text-indent: 2em;">Пользователь понимает и согласен с тем, что Правообладатель не имеет возможности регулировать использование Пользователем услуг связи и трафика, в связи с чем ответственность за потребленные объемы услуг связи и трафика лежит исключительно на Пользователе.
</p>
<p style="text-align:justify; text-indent: 2em;">13. Применимым правом к отношениям Правообладателя и Пользователя, возникающим из настоящего Соглашения является право Российской Федерации. Все споры и разногласия, возникающие в связи с реализацией условий настоящего Соглашения, подлежат рассмотрению в соответствующих судебных инстанциях по месту нахождения Правообладателя.
</p>
<p style="text-align:justify; text-indent: 2em;">14. Настоящее Соглашение не предоставляет Пользователю прав на товарные знаки, технологии, средства индивидуализации или иные результаты интеллектуальной деятельности Правообладателя.
</p>
<p style="text-align:justify; text-indent: 2em;">15. Правообладатель оставляет за собой право отказаться от исполнения Соглашения в одностороннем порядке (в том числе в случае нарушения Пользователем условий настоящего Соглашения) и отказать Пользователю в возможности использования ПО PS Robot без возмещения убытков.
</p>
<p style="text-align:justify; text-indent: 2em;">16. Правообладатель имеет право вносить изменения в настоящее Соглашение в одностороннем порядке. Пользователь уведомляется о вступлении новой редакции Соглашения в силу в сроки и способом, приемлемыми для Правообладателя. Продолжая использование ПО PS Robot после вступления в силу новой редакции Соглашения, Пользователь подтверждает принятие условий новой редакции Соглашения в полном объеме.
</p></div>
      {% if user.is_authenticated %}
          {% if yes_agreement %}
          {% else %}
          <div style="margin: 0 38%; width 270px;">
              <form>
                  Я согласен: {{ checkAgreementForm.AGREE }}
                  <button id="submit" type="submit" class="cta-btn btn-primary">Применить</button>
              </form>
          </div>
          {% endif %}
      {% endif %}
  </div>
  </div>
</div>
    <br><br><br>
{% endblock %}