﻿<!DOCTYPE html>
<html lang="ru">
<head>
    {% block title %}<title>ProSelf</title>{% endblock %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header id="header" class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-style">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">ProSelf Group</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto me-3 me-lg-0">
                        <li class="nav-item"><a href="{% url 'personal_area'%}" class="nav-link">Личный кабинет</a></li>
                        <li class="nav-item"><a href="{% url 'robots'%}" class="nav-link">Роботы</a></li>
                        <li class="nav-item"><a href="{% url 'referals'%}" class="nav-link">Реферальная программа</a></li>
                        <!--<li class="nav-item"><a href="/" class="nav-link">Информация</a></li>-->
                        <li class="nav-item"><a href="{% url 'settings'%}" class="nav-link">Настройки</a></li>
                    </ul>
                    {% endif %}
                    <div class="header-login">
                        {% if user.is_authenticated %}
                            <span class="nav-user">Пользователь: {{ user.get_username }}</span>
                            <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Войти</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="">
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </div>

    <div class="footer-container-fluid pb-0 mb-0 justify-content-center text-light ">
     <footer>
         <div class="row justify-content-center py-5">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                         <h3 class="text-muted mb-md-0 mb-5 bold-text">ProSelf Group</h3>
                         <small class="rights"><span>&#174;</span> ProSelf Group. All Rights Reserved.</small>
                     </div>
                     <div class="col-xl-3 col-md-5 col-sm-6 col-12">
                         <div class="row">
                             <h6 class="mb-3 mb-lg-2 text-muted bold-text mt-sm-0 mt-5"><b>Ссылки на наши соцсети</b></h6>
                         </div>
                         <div class="row">
                             <a class="social-link mb-2" href="https://t.me/ProSelfChat" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-telegram icon-m" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/></svg>Telegram чат</a></div>
                         <div class="row">
                             <a class="social-link mb-2" href="https://t.me/ProSelfInfo" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-telegram icon-m" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/></svg>Telegram канал</a></div>
                         <div class="row">
                             <a class="social-link" href="https://www.youtube.com/channel/UCT3EQnewiU1PSMFpuhfsEzQ" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-youtube icon-m" viewBox="0 0 16 16"><path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/></svg>YouTube канал</a></div>
                     </div>
                 </div>
             </div>
         </div>
     </footer>
 </div>
</body>
</html>