{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div class="settings-container position-relative">
    <div class="container form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="form-items-heading">
                            <h3>Регистрация нового пользователя:</h3>
                            <p>Введите данные</p>
                        </div>
                        <form action="registration" method="post" class="requires-validation">
                            {% csrf_token %}
                            <div class="col-md-12">
                                {{ registrationForm.EMAIL }}
                            </div>
                            <div class="col-md-12">
                                {{ registrationForm.PASSWORD }}
                            </div>
                            <div style="display:none">{{ registrationForm.ID_PARTNER }}</div>
                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="cta-btn btn-primary">Зарегистрироваться</button>
                                <a href="{% url 'login'%}?next={{request.path}}" class="cta-btn btn-primary" style="float:right">Войти</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}