{% extends "base_generic.html" %}

{% block content %}
<section id="personal-hero" class="personal-container content">
    <div class="container position-relative">
    <h2 class="mb-5 pt-5 text-center">Список роботов</h2>
    <div class=" table-responsive custom-table-responsive">
      <table class="personal-table table custom-table" style="color: black; background: rgba(255, 255, 255, 0.85); border-color: gray;">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">№</th>
              <th scope="col">Номер счёта</th>
              <th scope="col">Просадка</th>
              <th scope="col">Маржа</th>
              <th scope="col">Баланс</th>
              <th scope="col">День</th>
              <th scope="col">Неделя</th>
              <th scope="col">Месяц</th>
              <th scope="col">Всего</th>
            </tr>
          </thead>
          <tbody>
          {% load custom_tags %}
          {% for license in licenses %}
            <tr scope="row" style="cursor:pointer" onclick="if (block_lic_{{ forloop.counter }}.style.display==''){ block_lic_{{ forloop.counter }}.style.display='none';help_block_{{ forloop.counter }}.style.display='none';}
        else block_lic_{{ forloop.counter }}.style.display='';">
              <th scope="row"></th>
                <td>{{ forloop.counter }}</td>
                <td>{{ license.NUMBER }}
                <td>{{ license.PROFITPERCENT }}% ({{ license.PROFIT }}$)</td>
                <td>{{ license.MARGIN }}%</td>
                <td>{{ license.BALANCE }}$</td>
                <td>{{ license.PROFITTODAY|percent:license.BALANCE }}% ({{ license.PROFITTODAY }}$)</td>
                <td>{{ license.PROFITWEEK|percent:license.BALANCE }}% ({{ license.PROFITWEEK }}$)</td>
                <td>{{ license.PROFITMONTH|percent:license.BALANCE }}% ({{ license.PROFITMONTH }}$)</td>
                <td>{{ license.PROFITALL|percent:license.BALANCE }}% ({{ license.PROFITALL }}$)</td>
            </tr>
          <tr id="block_lic_{{ forloop.counter }}" style="display:none">

              <td colspan="100" align="center">
                  <div style="width: 455px;">
                      <div style="float:left; padding: 0 2px; border: 1px solid; border-radius: 5px; margin: 0 2px;">USDCHF <br> ▲{% widthratio license.COUNTPOSUSDCHF 10 1 %} ▼{{  license.COUNTPOSUSDCHF|mod10 }} <br> {{ license.PROFITUSDCHF }}%</div>
                      <div style="float:left; padding: 0 2px; border: 1px solid; border-radius: 5px; margin: 0 2px;">EURUSD <br> ▲{% widthratio license.COUNTPOSEURUSD 10 1 %} ▼{{  license.COUNTPOSEURUSD|mod10 }} <br> {{ license.PROFITEURUSD }}%</div>
                      <div style="float:left; padding: 0 2px; border: 1px solid; border-radius: 5px; margin: 0 2px;">USDJPY <br> ▲{% widthratio license.COUNTPOSUSDJPY 10 1 %} ▼{{  license.COUNTPOSUSDJPY|mod10 }} <br> {{ license.PROFITUSDJPY }}%</div>
                      <div style="float:left; padding: 0 2px; border: 1px solid; border-radius: 5px; margin: 0 2px;">EURCHF <br> ▲{% widthratio license.COUNTPOSEURCHF 10 1 %} ▼{{  license.COUNTPOSEURCHF|mod10 }} <br> {{ license.PROFITEURCHF }}%</div>
                      <div style="float:left; padding: 0 2px; border: 1px solid; border-radius: 5px; margin: 0 2px;">USDCAD <br> ▲{% widthratio license.COUNTPOSUSDCAD 10 1 %} ▼{{  license.COUNTPOSUSDCAD|mod10 }} <br> {{ license.PROFITUSDCAD }}%</div>
                      <div style="float:left; padding: 0 2px; border: 1px solid; border-radius: 5px; margin: 0 2px;">EURJPY <br> ▲{% widthratio license.COUNTPOSEURJPY 10 1 %} ▼{{  license.COUNTPOSEURJPY|mod10 }} <br> {{ license.PROFITEURJPY }}%</div>
                      <div style="float:left; padding: 0 5px;"><img src="/static/images/help.png" height="25" style="margin: 20px 0; cursor: pointer" onclick="if (help_block_{{ forloop.counter }}.style.display=='') help_block_{{ forloop.counter }}.style.display='none';
        else help_block_{{ forloop.counter }}.style.display='';"></div>
                      <div id="help_block_{{ forloop.counter }}" style="display:none; width: 413px; border: 1px solid; border-radius: 5px; height: 70px; margin: 0px 0px 0px 0px; padding: 0px 53px 0px 53px; position: absolute; background: rgba(255,255,255, 0.95);">▲ - количество открытых позиций BUY &#013;▼ - количество открытых позиций SELL &#013;% - просадка по данной паре</div>
                  </div>
              </td>
          </tr>
            <tr class="spacer"><td colspan="100"></td></tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
    </div>
</section>
<!--<div class="content">
  <div class="container">
    <div class="personal-ballance row justify-content-between text-center">
        <div class="text-center"><h1>Блок управления роботами.</h1></div>
        <div class="text-center">В разработке</div>
    </div>
  </div>
</div>
    <br><br><br>
<div class="personal-control-block-container">
<div class="container position-relative">
    <div class="personal-ballance row text-center" style="height:max-content">
            <div class="col personal-grid ">
                <h2>Балланс:</h2>
                <p>{{ user.profile.free_balance }} ₽</p>
                <h2>Полученный кешбэк:</h2>
                <p>{{ user.profile.cash_back }} ₽</p>
            </div>
            <div class="col personal-grid ">
                <h2>Сумма покупок</h2>
                <p>Твоя: {{ user.profile.balance_out }} ₽</p>
                <p>Партнёров: {{ balance_out_all }} ₽</p>
                <p>Итог: {{ balance_out_all_2 }} ₽</p>
            </div>
            <div class="col personal-grid ">
                <h2>Оставить заявку на вывод:</h2>
                <form action="out_balance" method="post">
                    {% csrf_token %}
                    {{ cashBackOutForm.SUM }}
                    {{ cashBackOutForm.CARD }}
                    <button type="submit" class="cta-btn btn-primary" style="margin: 10px 0px;">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById('id_SUM').setAttribute("max",{{ user.profile.free_balance }});
</script>
-->
{% endblock %}