{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div id="referals-hero" class="referals-container">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-7 my-5 mx-auto">
            <h1 class="display-4 font-weight-normal">Партнёрская программа</h1>
        </div>
        <div class="container py-3 mx-auto">
            <div class="referals-card">
                <div class="row ">
                    <div class="col-md-7 px-3">
                        <div class="referals-card-block px-6 text-start">
                            <h4 class="card-title">Пригласив друзей, вы можете получить до 50 % кешбэка:</h4>
                            <!--<p class="card-text">Пригласив друзей, ты можешь получить до 50 % кешбэка</p>
                            <p class="card-text">Например, 5 приведенных друзей, покупая всего по два робота, гарантируют кешбэк:</p>
                            <p class="card-text">5 * 2 * 20 000 = <span class="card-text-alert">200 000 ₽</span></p>-->
                            <input class="form-control" id="copytext" class="card-text" value="https://proself.group/invite?id={{ user.profile.hash_id }}">
                            <a onclick="myFunction()" class="cta-btn pull-right" style="cursor:pointer">Скопировать ссылку</a>
                            <script>
                            function myFunction() {
                              var copyText = document.getElementById("copytext");
                              copyText.select();
                              document.execCommand("copy");
                            }
                            </script>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div id="Carousel-money" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#Carousel-money" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#Carousel-money" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#Carousel-money" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block" src="{% static 'img/referals-1.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block" src="{% static 'img/referals-2.jpg' %}" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block" src="{% static 'img/referals-3.jpg' %}" alt="">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#Carousel-money"  data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#Carousel-money"  data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
      <h2 class="mb-5 mt-5 text-center">Таблица приглашённых</h2>
      <div class="table-responsive custom-table-responsive">
        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Номер</th>
              <th scope="col">Имя</th>
              <th scope="col">E-mail</th>
              <th scope="col">Колличество покупок</th>
              <th scope="col">Общая сумма</th>
            </tr>
          </thead>
          <tbody>
          {% for partner in partners %}
            <tr scope="row">
              <th scope="row"></th>
              <td>{{ forloop.counter }}</td>
              <td>{{ partner.profile.name }}</td>
              <td>{{ partner.profile.user }}<small class="d-block">Приглашён {{ partner.profile.date }}</small></td>
              <td>{{ partner.profile.number_purchases }}</td>
              <td>{{ partner.profile.balance_out }} ₽</td>
            </tr>
            <tr class="spacer"><td colspan="100"></td></tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
<br><br><br>

{% endblock %}