{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<div id="robots-hero" class="robots-container">
    <div class="container position-relative overflow-hidden p-3 p-md-5 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Наш продукт</h1>
            <p class="lead font-weight-normal"> Middle PS (MPS) Robot является уникальным помощником, средняя доходность которого варьируется в пределах 10-30% в месяц.</p>
            <a class="cta-btn" href="{% url 'downloadLastRobot'%}">Скачать последнюю версию</a>
        </div>
    </div>
</div>
<!--<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette d-flex justify-content-around">
        <div class="col-md-7">
            <h2 class="featurette-heading">ProSelf Robot</h2>
            <p class="robots-text">Уникальное программное средство, позволяющее автоматизировать торговлю на бирже <strong>Forex</strong>.</p>
        </div>
        <div class="col-md-3">
            <img src="{% static 'img/robots-img.jpg' %}" alt="500x500" class="featurette-image img-fluid mx-auto robots-img" data-src="holder.js/500x500/auto"  data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette d-flex justify-content-around">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Человек</h2>
            <p class="robots-text">эмоционален, робот – беспристрастен; человек ограничен во времени, робот работает <strong>24/7</strong>.</p>
        </div>
        <div class="col-md-3 order-md-1">
            <img src="{% static 'img/decision-img.jpg' %}" alt="500x500" class="featurette-image  mx-auto robots-img" data-src="holder.js/500x500/auto"  data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette d-flex justify-content-around">
        <div class="col-md-7">
            <h2 class="featurette-heading">Робот</h2>
            <p class="robots-text">принимает решение за доли секунды. У человека бывает плохое настроение и неудачные дни, у робота – <strong>никогда</strong>.</p>
        </div>
        <div class="col-md-3">
            <img src="{% static 'img/robots-img.jpg' %}" alt="500x500" class="featurette-image img-fluid mx-auto robots-img" data-src="holder.js/500x500/auto"  data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette d-flex justify-content-around">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Алгоритм</h2>
            <p class="robots-text">В основе алгоритма лежат принципы математической статистики; робот точно следует <strong>заложенной в него программе</strong>.</p>
        </div>
        <div class="col-md-3 order-md-1">
            <img src="{% static 'img/robots-img.jpg' %}" alt="500x500" class="featurette-image img-fluid mx-auto robots-img" data-src="holder.js/500x500/auto"  data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider">
</div>
-->
<h2 class="featurette-heading main-timeline-heading">Наша история</h2>

<div class="container">
    <div class="main-timeline">
    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                    <span class="month">26 Сентября</span>
                    <span class="year">2021</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Запуск сайта</h5>
            <p class="description">
                Создание личного кабинета, возможность приглашать новых партнеров через реферальную ссылку.
            </p>
        </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                    <span class="month">1 Июля</span>
                    <span class="year">2021</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Запуск продаж</h5>
            <p class="description">
                Открыты продажи. Открыт доступ к приглашению новых партнеров.
            </p>
        </div>
    </div>
    <!-- end experience section-->
    <!-- start experience section-->
    <div class="timeline">
        <div class="icon"></div>
        <div class="date-content">
            <div class="date-outer">
                <span class="date">
                    <span class="month">11 Июня</span>
                    <span class="year">2021</span>
                </span>
            </div>
        </div>
        <div class="timeline-content">
            <h5 class="title">Старт</h5>
            <p class="description">
                Создание информационного телеграмм-канала и общего чата. Запуск официального тестирования робота.
            </p>
        </div>
    </div>
    <!-- end experience section-->
</div>
</div>
{% endblock %}