{% extends "base_generic.html" %}

{% block content %}
<div class="settings-container position-relative">
    <div class="container form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="form-items-heading">
                            <h3>Настройки</h3>
                            <p>Для изменения данных введите информацию ниже</p>
                        </div>
                        <form action="editProfileForm" method="post" class="requires-validation">
                            {% csrf_token %}
                            <div class="col-md-12">
                                {{ editProfile.NAME }}
                            </div>
                            <div class="col-md-12">
                                {{ editProfile.TELEPHONE }}
                            </div>
                            <div class="col-md-12">
                               {{ editProfile.PASSWORD_OLD }}
                            </div>
                            <div class="col-md-12">
                              {{ editProfile.PASSWORD }}
                            </div>
                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="cta-btn btn-primary">Применить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}